:root {
  --color-white: #fff;
  --color-off-white: #f8f8f8;
  --color-light-gray: #efeded;
  --box-shadow-color: rgba(0, 0, 0, 0.05);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--color-off-white);
}

.input-box {
  background: var(--color-white);
  border: 1px solid var(--color-light-gray);
  width: 90%;
  max-width: 500px;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 300px auto;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px var(--box-shadow-color);
}
.input-box input {
  width: 100%;
  padding: 10px 0;
  border: 0;
  outline: 0;
  font-size: 24px;
}

.input-box img {
  width: 35px;
  cursor: pointer;
}
