:root {
  --color-white: #fff;
  --color-off-white: #f8f8f8;
  --color-black: #0e1324;
  --color-medium-gray: #eceaea;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-off-white);
}
.calculator {
  padding: 20px;
  border-radius: 10px;
  background: var(--color-white);
  border: 1px solid var(--color-medium-gray);
  box-shadow: 0 0 10px var(--box-shadow-color);
}

.calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  color: var(--color-black);
  font-size: 1rem;
  cursor: pointer;
  margin: 4px;
  background-color: transparent;
  border: 1px solid var(--color-medium-gray);
}

form .display input {
  padding: 10px;
  letter-spacing: 1px;
  border: none;
}

form .display {
  display: flex;
  margin: 10px 0;
  justify-content: flex-end;
}
form .display input {
  flex: 1;
  text-align: right;
  font-size: calc(45 / 16 * 1rem);
  box-shadow: none;
}
form input.equal {
  width: 133px;
}

form input.operator {
  background: var(--color-medium-gray);
  border: 1px solid var(--color-medium-gray);
  color: var(--color-black);
}
